body {
    font-family: 'Roboto', sans-serif;
     background: #ffffff;
     background-image: linear-gradient(
    180deg,
    rgba(84, 84, 212, 0.37) 30%,
    rgba(84, 84, 212, 0.09) 100%
  );
    margin: 0;
    padding: 0;
    
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #3b3b3b;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

   h2 {
    
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.actions {
    margin: 20px 0;
    text-align: center;
}

.actions button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background: #3b3b3b;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.actions button:hover {
    background: #0056b3;
}

.form-container, .inventory-container {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inventory-container table {
    width: 100%;
    border-collapse: collapse;
}

.inventory-container table, th, td {
    border: 1px solid #ccc;
}

.inventory-container th, td {
    padding: 12px;
    text-align: left;
    font-size: 16px;
}
